<div class="container__big-card">
    <div class="big-card__photo">
        <img 
        src="https://cdn.pixabay.com/photo/2024/02/23/17/26/clock-8592484_1280.jpg" 
        alt="imagem de teste">
    </div>
    <div class="big-card__title">

        <h2>Não perca tempo</h2>

    </div>
    <div class="big-card__description">
        <p>Não perca seu tempo em labirintos de indecisão, pois cada segundo é uma oportunidade que não volta. A vida é efêmera, e procrastinar apenas adia conquistas. Valorize suas escolhas e aja com determinação, pois o tempo não espera pelos hesitantes. Desprender-se de situações sem perspectiva é um investimento em si mesmo. Cada instante desperdiçado é uma página não escrita na história da sua realização. Seja proativo, trace metas e siga em frente, pois o tempo é um recurso precioso que merece ser utilizado com sabedoria. Evite distrações desnecessárias e concentre-se no que realmente importa para construir um futuro pleno. Não perca seu tempo com arrependimentos; em vez disso, invista em experiências significativas que moldarão sua jornada.</p>
    </div>
</div>
